.text {
    font-size: 30px;
    font-weight: bold;
    color: #51c551;
    margin-right: 341px;
}

.button {


    background-color: #0abd41;
    border: none;
    color: white;
    padding: 16px 32px;
    font-size: 12px;
    margin: 4px 18px;
    opacity: 1;
    transition: 0.3s;
    border-radius: 8px;
    height: 45px;
    width: 187px;
    box-shadow: 0 1px 2px #5e5d5b;
    text-align: center;
}
.button:hover {
    opacity: 0.6
}
.input{
    overflow: visible;
    margin-left: 10px;
    width: 203px;
    border-color: #18d1c8;
    border-radius: 6px;
}
.present{
    padding-left: 32px;
    color:white;
}
.card-body{
    background-color: #73b673;
    box-shadow: 0 1px 2px #5e5d5b;
}
.card-img-top {
    width: 100%;
    height: 200px; /* Adjust the height as needed */
    object-fit: cover; /* Maintain aspect ratio and cover the entire space */
}
.body{
    background-color: #3b6448;
}
